body, html {
    height: 100%;
    margin: 0;
}

/* Landing Page */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#NavBar {
    position: absolute;
    font-size: 20px;
}

.navbar-toggler {
    border: solid 1px black !important;
}

.content {
    position: relative;
    z-index: 1;
    height: 100vh;
}

.navbar {
    padding-left: 10px;
}

.artist-title {
    color: white;
    opacity: 0.3;
    font-size: 18vw;
    font-family: 'EB Garamond', serif;
}

.album-title {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 8vw;
    letter-spacing: .5rem;
}

.album-subtitle {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 3vw;
    letter-spacing: .5rem;
}

/* About us section */
#about {
    background-color: #222327;
}

.section-heading {
    text-align: center;
}

.text-side {
    color: white;
    background-color: #141414;
    padding: 10%;
}

.img-about {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 15px;
}

/* Media queries */
@media (max-width: 768px) {
    #NavBar {
        position: absolute;
        width: 100%;
        z-index: 9999;
    }

    .album-title {
        font-size: 25vw;
        -webkit-text-stroke: 1.2px black;
    }

    .album-subtitle {
        font-size: 5vw;
    }
}