body, html {
    height: 100%;
    margin: 0;
}

/* Landing */

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#NavBar {
    position: absolute;
    font-size: 20px;
}

#NavBar.navbar {
    background-color: rgba(255, 255, 255, 0.1) !important; /* White color with 30% opacity */
    width: 100vw;
}

.navbar-brand {
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
}

.navbar-toggler {
    border: solid 1px black !important;
}

.content {
    position: relative;
    z-index: 1;
    height: 100vh;
}

.navbar {
    padding-left: 10px;
}

.artist-title {
    color: white;
    opacity: 0.3;
    font-size: 13vw;
    font-family: 'EB Garamond', serif;
}

.album-title {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 8vw;
    letter-spacing: .5rem;
}

.album-subtitle {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 3vw;
    letter-spacing: .5rem;
}

/* About us */
#about {
    background-color: #222327;
}

.section-heading {
    text-align: center;
}

.text-side {
    color: white;
    background-color: #141414;
    padding: 7%;
}

.about-text{
    margin: 0;
}

.img-side{
    padding: 5%;
    
}

.img-about {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.page-break {
    height: 3rem;
    margin: 10px;
}


/* Album */
#album {
    background-color: #222327;
}

.track-listing-title {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 2rem;
}

.track-listing{
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 1.1rem;
}

.album-cover {
    padding: 10%;
}

h4 {
    color: white;
}



/* Contact */
.contact-section{
    background-color: #222327;
    padding: 25px;
}

.contact-card {
    padding: 1.5rem;
    padding-bottom: 4rem;
    background-color: #141414;
}

.contact-title {
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 3rem;
}

.contact-img {
    width: 75%;
}

.contact-text {
    color: white;
}

.last-line {
    padding-bottom: 20px;
}

.first-line {
    padding-top: 20px;
}



/* Footer */
footer {
    background-color: black;
}

.footer-title {
    font-family: 'EB Garamond', serif;
}
.links {
    margin: 10px;
}

.footer-links {
    text-decoration: none;
    color: inherit;
}

.dev {
    margin-top: 10px !important;
    color: #313131;
}

/* Media queries */
@media (max-width: 768px) {
    #NavBar {
        position: absolute;
        width: 100%;
        z-index: 9999;
    }

    #album {
        padding-top: 7%;
    }

    .artist-title {
        font-size:18vw;
    }

    .album-subtitle {
        font-size: 5vw;
    }

    .contact-section{
        padding: 0px;
    }

    .contact-card {
        padding: 0rem;
        background-color: #141414;
    }
}