body, html {
    height: 100%;
    margin: 0;
}

/* Landing */

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#NavBar {
    position: absolute;
    font-size: 20px;
}

#NavBar.navbar {
    background-color: rgba(255, 255, 255, 0.1) !important;
    width: 100vw;
}

.navbar-brand {
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
}

.navbar-toggler {
    border: solid 1px black !important;
}

.content {
    position: relative;
    z-index: 1;
    height: 100vh;
}

.navbar {
    padding-left: 10px;
}

.artist-title {
    color: white;
    opacity: 0.3;
    font-size: 13vw;
    font-family: 'EB Garamond', serif;
}

.album-title {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 8vw;
    letter-spacing: .5rem;
}

.album-subtitle {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 3vw;
    letter-spacing: .5rem;
}

/* About us */
#about {
    background-color: #222327;
}

.about-title {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 3rem;
    color: white;
}

.section-heading {
    text-align: center;
}

.text-side {
    color: white;
    background-color: #141414;
    padding: 7%;
}

.about-text{
    margin: 0;
}

.img-side{
    padding: 5%;
    
}

.img-about {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.page-break {
    height: 3rem;
    margin: 10px;
}


/* Album */
#album {
    background-color: #222327;
}

.track-listing-title {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 2rem;
}

.track-listing{
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 1.1rem;
}

.album-cover {
    padding: 10%;
}

h4 {
    color: white;
}

.p-2024 {
    font-size: large;
}



/* Contact */
.contact-section{
    background-color: #222327;
    padding: 25px;
}

.contact-card {
    padding: 1.5rem;
    padding-bottom: 4rem;
    background-color: #141414;
}

.contact-title {
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 3rem;
}

.contact-img {
    max-width: 75%;
}

.contact-text {
    color: white;
}

.last-line {
    padding-bottom: 20px;
}

.first-line {
    padding-top: 20px;
}

.epk {
    text-decoration: none;
    color: white; 
}


/* Footer */
footer {
    background-color: black;
}

.footer-title {
    font-family: 'EB Garamond', serif;
}
.links {
    margin: 10px;
}

.footer-links {
    text-decoration: none;
    color: inherit;
}

.dev {
    margin-top: 10px !important;
    color: #313131;
}


/* Button */
.button-84 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 1.5rem;
    height: 52px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-84:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
  }
  
  .button-84:active {
    outline: 0;
  }
  
  .button-84:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
  }
  


  @media (max-width: 420px) {
    .button-84 {
      height: 48px;
    }
  }




/* Media queries */
@media (max-width: 768px) {
    #NavBar {
        position: absolute;
        width: 100%;
        z-index: 9999;
    }

    #album {
        padding-top: 7%;
    }

    .artist-title {
        font-size:18vw;
    }

    .album-subtitle {
        font-size: 5vw;
    }

    .contact-section{
        padding: 0px;
    }

    .contact-card {
        padding: 0rem;
        background-color: #141414;
    }
}